name: "Build"
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
      - uses: microsoft/setup-msbuild@v1.1
      - uses: nanoframework/nanobuild@v1.3
      - run: nuget restore Jacdac.sln -PackagesDirectory ./packages
      - run: msbuild.exe -t:build -p:Configuration=Debug Jacdac.sln
      - run: msbuild.exe -t:build -p:Configuration=Release Jacdac.sln
      - name: Run tests
        run: dotnet test .\Jacdac.Tests\Jacdac.Tests.csproj
      - name: Semantic release
        run: npx -p=@semantic-release/git -p=@semantic-release/github -p=@semantic-release/exec -p=@semantic-release/git -p=semantic-release-dotnet semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
          NUGET_PUSH_URL: ${{ secrets.NUGET_PUSH_URL }}
